<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.abandon.spring.cloud.auth.server.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.jt.abandon.spring.cloud.auth.server.entity.UserInfo">
        <result column="user_id" property="id" jdbcType="BIGINT"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="iphone" property="iphone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="platform" property="platform" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="VARCHAR"/>
        <result column="updated_date" property="updatedDate" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,account,user_name,password,salt,iphone,email,platform,created_date,updated_date,version
    </sql>

    <select id="findByAccount" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_USER_INFO
        WHERE ACCOUNT = #{account}
    </select>
</mapper>